@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply a background color or image to the entire page */
body {
  background-color: #081b29; /* Light gray background */
  /* Or set a background image like this */
  /* background-image: url('path-to-your-image.jpg'); */
  /* background-size: cover; */
  /* background-position: center; */
  margin: 0; /* Ensures there is no unwanted margin */
  padding: 0; /* Resets padding */
  height: 100%; /* Ensures the background covers the full height */
}

/* Additional styling for the header */
header {
  text-align: center;
  padding: 20px;
}

/* Styling for the h1 */
h1 {
  font-size: 3em;
  color: #f0f0f0; /* Dark text color for contrast */
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

p,
h3,
h2 {
  color: #f0f0f0;
}

p {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

h2 {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.SocialMediaIcons {
  opacity: 0;
  animation: slideLeft 2s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

h2 span {
  color: #0ef;
}

/* General styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: hsl(240, 100%, 10%);
}

.navbar a {
  text-decoration: none;
  color: #f0f0f0;
}

/* Brand name on the left */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/* Navigation menu on the right */
/* .navbar-menu { */
/* display: flex; */
/* gap: 20px; */
/* list-style: none; */
/* margin: 0; */
/* padding: 0; */
/* scroll-behavior: smooth; */
/* margin-left: 300px; */
/* font-weight: 500; */
/* } */
.navbar-menu {
  scroll-behavior: smooth;
  opacity: 0;
  transition: 3s;
  animation: slideTop 0.5s ease forwards;
}

.navbar-menu ul li {
  cursor: pointer;
}

.links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.links svg path {
  fill: #0ef; /* Default icon color */
}

.links:hover {
  background: #0ef;
  box-shadow: 0 0 20px #0ef;
}

.links:hover svg path {
  fill: #081b29 !important; /* Icon color change on hover */
}

.links:hover svg {
  color: #081b29; /* Color change on hover */
}

.button {
  opacity: 0;
  transition: 3s;
  animation: slideTop 2s ease forwards;
}

.button:hover {
  box-shadow: 0 0 20px cyan;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
