.p {
  background: #69c006;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 5px 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  color: #000;
  font-weight: bold;
}

.square {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: red;
}

.heroImage {
  width: auto;
  height: auto;
  background-image: url(../public/images/navbar.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 100px;

  /* background-size: cover; */
}

.navlinks a {
  color: #69c006 !important;
}
.navlink a {
  color: #ffffff !important;
  /* display: flex;
  width: 300px;
  height: 500px;
  background-color: #69c006;
  border-bottom-left-radius: 500px; */
}

@media screen and (min-device-width: 1008px) and (max-device-width: 1876px) {
  .myPortfoliotext {
    padding-top: 45px;
    margin-top: 45px;
  }
}
